@import "../vendors/bootstrap.scss";
@import "../components/button.scss";
@import "../components/form.scss";

#main-page-background {
    background-size: cover;
    background-image: url(../../images/lbg1.jpg);
    background-attachment: fixed;
    min-height: 100%;
    width: 100%;
    color: #fff
}

.login-form {
    padding: 0px 18px 30px;
    color: #000
}

.arrow-image{
    position: absolute;
}

.tag-line{
    padding-top: 29px;
    text-align: center;
    font-family: cursive;
    color: aliceblue;
}

.marginTop30{
    margin-top: 30px;
}